* {
  padding: 0;
  margin: 0;
  font-family: "Comic Neue", "Courier New", Courier, monospace;
}

footer {
  right: 0;
  left: 0;
  font-weight: bold;
  font-size: 130%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 1%;
  border: 2px solid rgb(7, 56, 203);
  padding: 1%;
  position: absolute;
  bottom: 0;
}

.hidden {
  display: none;
}

.nothidden {
  display: block;
}

.active {
  background-color: white;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  font-weight: bolder;
}

.logo {
  margin-left: 650px;
}

#books {
  list-style-type: none;
  padding-left: 0%;
  background: rgb(240, 136, 136);
  border: solid 2px #666;
}

.awebk {
  text-align: center;
}

#books li {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

ul h3 {
  margin: 0 10px;
  display: inline-block;
  padding: 10px 2px;
}

button {
  box-shadow: 1px 1px 2px 1px #666;
}

ul button {
  margin: auto 10px;
  font-size: 20px;
}

.orange {
  background-color: rgb(0, 72, 255);
}

.lightblue {
  background-color: rgba(171, 178, 243, 0.768);
}

.form_section {
  max-width: 600px;
  width: 100%;
  margin: auto;
}

form {
  display: block;
  margin: auto;
}

form input {
  margin-bottom: 10px;
  padding: 2%;
}

.form_section h3 {
  text-align: center;
}

.form_section p button {
  float: right;
  margin-right: 50px;
}

.form_section form,
.form_section input {
  width: 90%;
}

#add {
  padding: 1%;
  font-size: 90%;
  position: relative;
  left: 4%;
}

header {
  border: 2px solid #000;
  display: flex;
  height: 40px;
  line-height: 40px;
  justify-content: space-between;
  padding: 0 10px;
  margin-left: 2%;
  margin-right: 2%;
}

header h1 {
  padding: 0;
  margin: 0;
}

#navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  justify-content: space-around;
}

#navbar ul li {
  list-style: none;
  margin: 0 2px;
  font-size: large;
  font-weight: bold;
  padding: 0 10px;
}

#navbar ul li:hover {
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  color: rgb(0, 255, 136);
  font-weight: bolder;
}

.page {
  padding: 20px 30px;
  font-size: 115%;
}

#date {
  text-align: right;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  padding-right: 30px;
}

.contact_heading {
  text-align: center;
}

.detail {
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}

.contactinfo_ul {
  margin-left: 40%;
}
